
docs/NLRM_subcats/Rangitaiki_subcats.prj
docs/NLRM_subcats/Rangitaiki_subcats.sbn
docs/NLRM_subcats/Rangitaiki_subcats.sbx
docs/NLRM_subcats/Rangitaiki_subcats.shp
docs/NLRM_subcats/Rangitaiki_subcats.shp.xml
docs/NLRM_subcats/Rangitaiki_subcats.shx
docs/NLRM_subcats/Rangitaiki_subcats_updt_crop.gpkg
docs/NLRM_subcats/Rangitaiki_subcats_updt_crop.gpkg-shm
docs/NLRM_subcats/Rangitaiki_subcats_updt_crop.gpkg-wal
docs/NLRM_subcats/Rangitaiki_subcats_updt_crop.qmd
docs/NLRM_subcats/Tarawera_subcats.cpg
docs/NLRM_subcats/Tarawera_subcats.dbf
docs/NLRM_subcats/Tarawera_subcats.prj
docs/NLRM_subcats/Tarawera_subcats.sbn
docs/NLRM_subcats/Tarawera_subcats.sbx
docs/NLRM_subcats/Tarawera_subcats.shp
docs/NLRM_subcats/Tarawera_subcats.shp.xml
docs/NLRM_subcats/Tarawera_subcats.shx
docs/NLRM_subcats/Tarawera_subcats_slope.gpkg
docs/NLRM_subcats/Tarawera_subcats_updt_crop.gpkg
docs/NLRM_subcats/Tarawera_subcats_updt_crop.gpkg-shm
docs/NLRM_subcats/Tarawera_subcats_updt_crop.gpkg-wal
docs/NLRM_subcats/Tarawera_subcats_updt_crop.qmd
docs/parameters needed.txt
.idea/csv-plugin.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rnc2_project.iml
.idea/vcs.xml
docs/.DS_Store
docs/CatchmentsForAlex.xlsx
docs/MRm Network Model equations_220323.docx
docs/NLRM_subcats.zip
docs/NLRM_subcats/Rangitaiki_subcats.cpg
docs/NLRM_subcats/Rangitaiki_subcats.dbf
legacy/data/Catchments_updt.csv
docs/Catchments_updt.csv
docs/NLRM_subcats/Rangitaiki_subcats_updt_crop.csv
.gitignore
.gitignore
docs/NLRM_subcats/Tarawera_subcats_updt_crop.csv
docs/Alex_writeup/Alex_writeup.md
docs/Alex_writeup/apa7.csl
docs/Alex_writeup/conversion_pandoc
docs/Alex_writeup/Exported Items.bib
docs/Alex_writeup/file.bib
docs/Alex_writeup/output.pdf
docs/Alex_writeup/write_up.docx
docs/Alex_writeup/write_up.pdf
docs/NLRM_subcats/nz_river_1250k-clip.gpkg
docs/NLRM_subcats/nz_river_1250k-clip.gpkg-shm
docs/NLRM_subcats/nz_river_1250k-clip.gpkg-wal
docs/NLRM_subcats/Rangitaiki_nodes.gpkg
docs/NLRM_subcats/Rangitaiki_nodes.gpkg-shm
docs/NLRM_subcats/Rangitaiki_nodes.gpkg-wal
docs/NLRM_subcats/Rangitaiki_subcats.geojson
docs/NLRM_subcats/Rangitaiki_subcats_updt_crop.qgz
docs/NLRM_subcats/Rangitaiki_subcats_updt_crop_reproj.gpkg
docs/NLRM_subcats/Rangitaiki_subcats_updt_crop_reproj.gpkg-shm
docs/NLRM_subcats/Rangitaiki_subcats_updt_crop_reproj.gpkg-wal
docs/rangitaiki-river-scheme-review-april-2017-flood-event-final-report-as-supplied-to-by-of-plenty-regional-council.pdf
docs/report.pdf
docs/report_1.pdf
docs/river_catchment_nodes_sorted.gpkg
docs/river_catchment_nodes_sorted.gpkg-shm
docs/river_catchment_nodes_sorted.gpkg-wal
legacy/.DS_Store
docs/report.pdf
